<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CIT 41200 Final</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <form method="POST" action="/signin">
        <input type='hidden' name='type' value='signin'>
        Email:<br/>
        <input type="email" name="username" id="email"/>
        Password:<br/>
        <input type="password" name="password" id="password">
        <input type="submit" value="Submit">

        <a href='https://cit-41200-final-project-272919.uc.r.appspot.com/signup'>Not a user?</a>
        <a href='https://cit-41200-final-project-272919.uc.r.appspot.com/signin/google'>Sign in with Google</a>
    </form>
</body>
</html>